# npm
node_modules
npm-shrinkwrap.json
*.log
*.gz

# Yarn
yarn-error.log
yarn.lock

# Coveralls
.nyc_output
coverage

# Env + secrets
.env
.env.local
.env.*.local
.env.prod

# OS
.DS_Store

# Editor
.idea
.vscode/*.log

# Build artifacts
apps/frontend/dist/
*.tsbuildinfo

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore